// Fonts

@font-face {
  font-family: 'BasisGrotesque-Regular';
  src:     url('fonts/BasisGrotesque-Regular.eot');
  src:     url('fonts/BasisGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
           url('fonts/BasisGrotesque-Regular.woff') format('woff'),
           url('fonts/BasisGrotesque-Regular.ttf') format('truetype'),
           url('fonts/BasisGrotesque-Regular.svg#meow') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MercuryTextG2-Roman';
  src:     url('fonts/MercuryTextG2-Roman.eot');
  src:     url('fonts/MercuryTextG2-Roman.eot?#iefix') format('embedded-opentype'),
           url('fonts/MercuryTextG2-Roman.woff') format('woff'),
           url('fonts/MercuryTextG2-Roman.ttf') format('truetype'),
           url('fonts/MercuryTextG2-Roman.svg#meow') format('svg');
  font-weight: normal;
  font-style: normal;
}
