///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

//
// Font stacks
//

$font-stack__sans  : 'BasisGrotesque-Regular', sans-serif;
$font-stack__serif : 'MercuryTextG2-Roman', serif;

///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

// Serif
@mixin font--serif__regular {
  font-family: $font-stack__serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: 0;
}

// Sans-serif
@mixin font--sans__regular {
  font-family: $font-stack__sans;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 1.48;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.8);
}

@mixin font--monospace {
  font-family: monaco, monospace;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
}

@mixin font--monospace__inline {
  font-family: monaco, monospace;
  font-size: 0.8em;
  line-height: 1;
  letter-spacing: 0;
}
