///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

//
// Font stacks
//

$font-stack__regular : sans-serif;

///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

// Regular - Regular
@mixin font--regular {
  font-family: Georgia, Cambria, "Times New Roman", Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.58;
  letter-spacing: -.003em;
}
