<section class="section--header">
  <header class="header container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1>
          <a class="site-title link--blank" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
      </div>
      <div class="header__col-details col-sm-6 monospace">
        <a href="https://sounds.dylanfisher.com/" style="margin-right: 5px;">sounds</a>
        <a href="https://photos.dylanfisher.com/" style="margin-right: 5px;">photos</a>
        <a href="https://www.instagram.com/jpeg.dylan/" style="margin-right: 5px;">Instagram</a>
        <a href="https://github.com/dylanfisher">GitHub</a>
      </div>
    </div>
  </header>
</section>
