<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Dylan Fisher",
  "alternateName": "Labud",
  "url": "https://www.dylanfisher.com/",
  "logo": "https://www.gravatar.com/avatar/a6c2442025e3f42e577c2d70288b6364?s=20248",
  "sameAs": [
    "https://www.instagram.com/jpeg.dylan/",
    "https://github.com/dylanfisher",
    "https://www.linkedin.com/in/dylan-fisher-has-computer/",
    "https://twitter.com/_dylanfisher",
    "https://www.labud.nyc/"
  ]
}
</script>
