body {
  margin: 0;
}

.container-fluid {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.section--header {
  margin-top: 15px;
}

.header {
  margin-bottom: 1em;
}

.footer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.page-content {
  min-height: calc(100vh - 180px);
}

.post__categories {
  margin-top: 0.5rem;
}

.post__category {
  @include inline-code;
  display: inline;
  background: transparent;
  border: 1px solid #e2e2e2;
}

.project__title {
  margin-left: 2em;
  text-indent: -2em;
}

section,
.section {
  margin-bottom: 1rem;
}

.section--about {
  margin-bottom: 1.5rem;
}

.section--notes {
  margin-top: 1.5rem;
}

.post__summary {
  margin-top: 1rem;
}

.post-meta {
  margin-bottom: 1rem;
}

.post__read-more-wrapper {
  margin-top: 1rem;
}

img {
  max-width: 100%;
}

.section-divider,
.post-content hr {
  max-width: 40px;
  height: 3px;
  background-color: #eaeaea;
  margin: 1.5rem 0;
  border: 0;
}

.image-with-caption {
  margin-bottom: 1.5rem;
}

.caption {
  @include font--monospace;
  font-size: 12px;
  line-height: 1;
}

.archive__row {
  margin-bottom: 10px;
}

.archive__col {
  @include font--sans__regular;
  font-size: 16px;
}

.post-list {
  .section-divider {
    &:last-child {
      display: none;
    }
  }
}
