a {
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(to bottom, transparent 50%, rgb(0, 0, 0) 50%);
  background-color: transparent;
  background-position: 0 1em;
  background-repeat: repeat-x;
  background-size: 1px 1px;

  &:hover {
    background-image: linear-gradient(to bottom, transparent 50%, blue 50%);
    color: blue;
  }
}

.link--blank {

}

.link--external {
  cursor: alias;
}

.list--blank {
  padding: 0;
  list-style: none;
}

.emoji {
  font-size: 34px;
  line-height: 1;
  font-weight: normal;
  font-family: sans-serif;
}
